*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	body{
		background-color: #CCDDD6;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.container{
		width: 90%;
		height: 600px;
		margin:5px;
		background-image: url("wallpaper.jpg");
		background-size: cover;
		box-shadow: 10px 10px 10px #ccc;
	}
	.bars{
		margin: 25px;
		font-size: 60px;
		color: #E6D6C7;
	}
	.bars:hover{
		color: white;
	}
	#heading{
		color: #E6D6C7;
		font-family: Arial Black;
		margin-left: 20px;
		font-weight: bold;
		font-size: 50px;
	}
	#page{
		color: #E6D6C7;
		margin-left: 20px;
		line-height: 10px;
		font-weight: normal;
		font-size: 60px;
		letter-spacing:10px;
	}
	#para{
		margin-left: 20px;
		color: white;
		font-size: 15px;
		font-family: sans-serif;
		line-height: 30px;
	}
	span{
		font-weight: bold;
	}
	button{
		border:3px solid #E6D6C7;
		background-color: #86B4BF;
		margin-left: 20px;
		border-radius: 20px;
		letter-spacing: 5px;
		font-weight: bold;
		color: white;
		padding: 10px;
	}
	button:hover{
		background-color: #D89D81;
	}

	.follow{
		margin-top: 30px;
		height: 50px;
		width: 400px;
		margin-left: 20px;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
	#head{
		color: white;
		font-family: "Arial";
	}
	.social_media{
		color: white;
		font-size: 30px;
	}
	.f:hover{
		color: #0862F7;
	}
	.i:hover{
		color: #DD02E2;
	}
	footer{
		width: 100%;
		height: 30px;
		margin-top: 60px;
		display: flex;
		align-items: center;
		justify-content: center
	}
	#f_p{
		font-family: sans-serif,"Century Gothic";
		margin-right: 2px;
	}
	#f_h{
		font-family: sans-serif,"Arial Black";
		margin-left: 2px;
	}